@page
@model KPSSStudyTracker.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Çıkış Yap";
}

<form method="post">
    <div class="container py-5 text-center">
        <p>Çıkış yapmak istiyor musunuz?</p>
        <button type="submit" class="btn btn-danger">Çıkış Yap</button>
    </div>
    </form>



